@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;700&display=swap');
html {
    background-color: #1C243C;
    /* max-width: 1440px; */
    height: 100vh;
    color: #fff;
    font-family: 'Inria Serif', serif;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: auto;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 10px solid #212c4d;
    border-radius: 15px;
    padding: 20px;
    height: 50%;
}


/* article[class=one] {
    margin-right: 20px;
}

article[class=three] {
    margin-left: 20px;
} */

article:hover {
    border-color: #7B3BF3;
}

hr {
    width: 100%;
    padding: 0;
    color: #212c4d;
}

span {
    display: block;
}

p {
    font-family: 'Inria Serif', serif;
    font-weight: 300;
    font-size: 18px;
}

p>span {
    text-align: center;
    padding: 5px;
}

p[class=top] {
    text-align: center;
    font-size: 14px;
}

a {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #7B3BF3;
    color: #7B3BF3;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    color: #fff;
}

a:hover:after {
    height: 100%;
}

a:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #7B3BF3;
}

@media screen and (min-width: 950px) {
    body {
        justify-content: center;
    }
    article[class=one] {
        margin-right: 40px;
    }
    article[class=three] {
        margin-left: 40px;
    }
}